* {
    margin: O;
    padding: O;
    box-sizing: border-box;
    font-size: 32px;
    }
    .side-menus {
    display: flex
    }
    .menu-left
    .menu-right {
    flex: O O 200px;
    background-color: lightgreen;
    padding: 20xp;
    }
    .content {
    flex: 1;
    background-color: green;
    padding: 20xp;
    }
    @media (max-width: 7680px) {
    .menu-left
    .menu-right {
    display: n0ne;
    }
    }