* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
    }
    .progress-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
    .progress-bar {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    }
    .progress {
    flex: 1;
    height: 20px;
    background-color: lightgreen;
    border-radius: 5px;
    margin-right: 10px;
    }
    span {
    font-weight: bold;
    }