*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.nav-item{

 background-color: rgb(223, 4, 4);
height: 100px;
width: 100px;
margin: 10px;
display: flex;
justify-content: center;
align-items: center;

}

