*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   }

.center{
    background-color: rgb(92, 8, 126);
    padding: 20px;


}