*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .page-container {
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
        }
        .header {
        width: 100%;
        background-color: lightgreen;
        padding: 20px;
        }
        .sidebar {
        flex: 1;
        background-color: lightcoral;
        padding: 20px;
        }
        .content {
        flex: 3;
        background-color: lightyellow;
        padding: 20px;
        background-color: lightseagreen;
        }
        @media (max-width: 768px) {
        .sidebar {
        flex: 100%;
        }
        .content {
        flex: 100%;
        }
        }   